@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ededed;
  --primary: #fcf9f2;
  --secondary: #f6f3ec;
  --accent: #1b4332;
  --text: #012d1d;
  --text-accent: #414844;
  --button-active: #741b04;
  --bg-icon: #e8f3e8;
  --error-text: #fb2c36;
  --error-bg: oklch(88.5% 0.062 18.334);
  --error-border: #fb2c36;
  --border: #c1c8c2;
  --shadow: #0d211926;
  --focus-input: #0d211950;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121614;
    --foreground: #1a1f1d;
    --primary: #181d1b;
    --secondary: #222926;
    --text: #f4f7f5;
    --text-accent: #a3b0a9;
    --accent: #40916c;
    --bg-icon: #1b3328;
    --button-active: #a93216;
    --border: #38423d;
    --shadow: #00000059;
    --focus-input: #c9d2ce73;
    --error-text: #ff6b73;
    --error-border: #ff6b73;
    --error-bg: oklch(35% 0.12 18.33);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-noto-serif);
  --font-sans: var(--font-jakarta-sans);
  --color-text: var(--text);
  --color-text-accent: var(--text-accent);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-button-active: var(--button-active);
  --color-bg-icon: var(--bg-icon);
  --color-error-text: var(--error-text);
  --color-error-bg: var(--error-bg);
  --color-error-border: var(--error-border);
  --shadow-card: 0 16px 32px -8px var(--shadow);
  --shadow-input: 0 0 10px var(--focus-input);
  --color-border: var(--border);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

p,
span,
button {
  font-family: var(--font-sans);
}
